# Function In Python 

### * A function in Python is a block of code that performs a specific task.

### * It is defined using the def keyword and can be reused multiple times.

## 1) Built-in Functions :

### *Functions already provided by Python.

### Example: print(), len(), type(), sum().

## 2) User-defined Functions

### *Functions created by the programmer using def.
### * Example:

In [1]:
def hello() :
    print('good evening')

In [2]:
def hello():
    print('good evening')
hello()

good evening

In [3]:
def hello():
    print('good evening')
hello()

def hello():
    print('good evening')
hello()

def hello():
    print('good evening')
hello()

good evening
good evening
good evening

In [4]:
def hello():
    print('good evening')

hello()

hello()

hello()

good evening
good evening
good evening

In [5]:
def add (x,y):
    c = x+y
    print(c)

add(5,6)

11

In [6]:
def add (x,y,z):
    c = x + y + z
    print(c)

add(5,6)

TypeError: add() missing 1 required positional argument: 'z'

In [ ]:
def add (x,y,z):
    c = x + y + z
    print(c)

add(5,6,7)

In [ ]:
def add (x,y):
    c = x + y 
    return(c)

add(5,6)

In [ ]:
def hello():
    print('good evening')
hello()

def add (x,y):
    c = x+y
    return c
add(5,6)

In [ ]:
def hello():
    print('good evening')

def add(x,y):
    c = x+y
    return c

hello()
add(5,6)

In [7]:
def greet():
    print('hello')
    print('good noon')

def add(x,y):
    c = x+y
    print(c)

def sub (x,y,z):
    d = x-y-z
    print(d)

greet()
add(5,4)
sub(10,2,4)

hello
good noon
9
4

In [8]:
def add_sub(x,y):
    c = x + y
    d = x - y
    return c,d

add_sub(4,5)

(9, -1)

In [9]:
def add_sub(x,y):
    c = x + y
    d = x - y
    return c,d

result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [10]:
def add_sub(x,y):
    c = x + y
    d = x - y
    return c,d

result,result1 = add_sub(4,5)
print(result)
print(result1)

print(type(result))
print(type(result1))

9
-1
<class 'int'>
<class 'int'>

In [11]:
def add_sub_mul(x,y):
    c = x + y
    d = x - y
    e = x*y
    return c,d,e

result,result1,result2 = add_sub_mul(4,5)
print(result)
print(result1)
print(result2)

print(type(result))
print(type(result1))
print(type(result2))

9
-1
20
<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
def update():
    x = 8 
    print(x)

update()

8

## Arguments in Python Functions :

### * Arguments are values passed to a function when calling it.

### * They allow functions to work with different inputs.

In [13]:
def add (a,b): # a & b are called as formal argument
    c = a + b
    print(c)

add(5,6) # 5 & 6 is called actual argument

11

### Positional argument :
#### * Values passed in order.

In [14]:
def person(name,age):
    print(name)
    print(age)

person ('Ram', 24)

Ram
24

In [15]:
def person(name,age):
    print(name)
    print(age)
    
person(24,'Ram')

24
Ram

In [16]:
def person(name,age):
    print(name)
    print(age-1)
    
person(24,'Ram')

24

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [17]:
def person(name,age):
    print(name)
    print(age+1)
    
person('Ram',24)

Ram
25

In [18]:
def person(name,age):
    print(name)
    print(age+1)
    
person('Ram')

TypeError: person() missing 1 required positional argument: 'age'

In [19]:
def person(name,age):
    print(name)
    print(age+1)
    
person(24)

TypeError: person() missing 1 required positional argument: 'age'

In [20]:
def person(name):
    
    print(name)
    print(age+1)
    
person('Ram', 22)

TypeError: person() takes 1 positional argument but 2 were given

### Keyword argument :
#### * Passed using parameter name.

In [21]:
def person(name, age):
    
    print(name)
    print(age+1)
    
person(24, 'Ram')

24

TypeError: can only concatenate str (not "int") to str

In [22]:
def person(name, age):
    
    print(name)
    print(age+1)
    
person(age = 24, name = 'Ram', phone = 9000487948)

TypeError: person() got an unexpected keyword argument 'phone'

In [23]:
def person(name, age, phone):
    
    print(name)
    print(age+1)
    print(phone)
    
person(age = 24, name = 'Ram', phone = 9000487948)

Ram
25
9000487948

### Default Arguments

#### * Parameters with a default value.

In [24]:
def person(name, age=18):
    
    print(name)
    print(age)
    
person('Ram')

Ram
18

### Variable-length Arguments :

#### Used when number of arguments is unknown.

#### * args → Non-keyword variable arguments (tuple)

#### ** kwargs → Keyword variable arguments (dictionary)

In [25]:
# Example:
def add(*nums):
    print(sum(nums))
add(1, 2, 3)

6