# Operators
## * Operators in Python are special symbols or keywords that perform operations on values or variables.
## * They are used to carry out various computations, such as arithmetic, comparison, logical, and more.

## * In Python, there are seven main types of operators, each serving different purposes. Hereâ€™s a summary of the types:

### 1) Arithmetic Operators: Used for mathematical calculations.
### 2) Comparison Operators: Used to compare values.
### 3) Logical Operators: Used to combine conditional statements.
### 4) Bitwise Operators: Used to perform operations on binary representations of integers.
### 5) Assignment Operators: Used to assign values to variables.
### 6) Identity Operators: Used to check if two variables refer to the same object in memory.
### 7) Membership Operators: Used to test if a value is a member of a sequence.

##
### 1) Arithmetic Operators:

In [2]:
# Operations of Arithmetic Operators:
print('Addition: ', 23 + 43)
print('Subtraction: ', 50 - 40)
print('Multiplication: ', 5 * 33)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)                      # it means 3 * 3

Addition:  66
Subtraction:  10
Multiplication:  165
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [14]:
# Floating numbers
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

In [15]:
# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)

In [16]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [17]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

##
### 2) Comparison Operators:

In [18]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

##
### 3) Logical Operators:
#### * and , or & not .

In [19]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False

##
### 4) Bitwise Operators:
#### *  & -	AND	Sets each bit to 1 if both bits are 1	  x & y	
#### *  | -	OR	Sets each bit to 1 if one of two bits is 1	  x | y	
#### *  ^ - XOR	Sets each bit to 1 if only one of two bits is 1	  x ^ y	
#### *  ~ - NOT	Inverts all the bits	~x

##
### 5) Assignment Operators:

In [20]:
   x = 5
   x += 3  # Equivalent to x = x + 3
   print(x)  # Output: 8

8

In [21]:
   x = 10
   x -= 4  # Equivalent to x = x - 4
   print(x)  # Output: 6

6

In [22]:
   x = 2
   x *= 5  # Equivalent to x = x * 5
   print(x)  # Output: 10

10

In [23]:
   x = 20
   x /= 4  # Equivalent to x = x / 4
   print(x)  # Output: 5.0

5.0

In [24]:
   x = 17
   x //= 3  # Equivalent to x = x // 3
   print(x)  # Output: 5

5

In [25]:
   x = 10
   x %= 3  # Equivalent to x = x % 3
   print(x)  # Output: 1

1

In [26]:
   x = 2
   x **= 3  # Equivalent to x = x ** 3
   print(x)  # Output: 8

8

##
### 6) Identity Operators:
#### * is -	Returns True if both variables are the same object
#### * is not - Returns True if both variables are not the same object

In [28]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2

1 is 1 True
1 is not 2 True

##
### 7) Membership Operators:
#### * in 	Returns True if a sequence with the specified value is present in the object	x in y	
#### * not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [29]:
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding

A in Asabeneh True
B in Asabeneh False
True