# Variable

Variables are the placeholders, use to store data.
SYNTEX
variable_name = value

Rules for Variable Names:
1)Start with a letter or underscore.
2)Contain only alphanumeric characters and underscores.
3)Case-sensitive.
4)Avoid Python keyworde or resevered words.

In [5]:
A = 5
A

5

In [6]:
Jon_age = 42
jon_age

NameError: name 'jon_age' is not defined

In [7]:
Jon_age

42

# Data Types

## Data types are classifications that define what kind of value a variable can hold and how that data can be manipulated.

1) int

In [8]:
number = 23
number

23

In [9]:
numb = int(7.0)
numb

7

2)float
* dacimal number 
like 4.879
* only inclued a alphabet e or E.
like num = 2e4
num = 20000

In [10]:
num = float(7)
num

7.0

In [11]:
numb = 988.45
type(numb)

float

In [17]:
num = 2e1
num

20.0

In [18]:
type(num)

float

3) Complex 
Syntax
variable_name = real + imaginary * 1j

In [12]:
com = 3 + 4j
type(com)

complex

In [13]:
com.real

3.0

In [14]:
com.imag

4.0

In [15]:
moc = 23 + 16j
add = com + moc
add

(26+20j)

4)bool
*It only includer 
   True = 1
   False = 0

In [19]:
bul1 = True
type(bul1)

bool

In [20]:
a = int(bul1)
a

1

In [21]:
bul2 = False 
type(bul2)

bool

In [22]:
b = int(bul2)
b

0

5)String(str)
* A string is an ordered sequence of Unicode characters. These characters can include letters, numbers, symbols, and whitespace.
* Strings are created by enclosing characters within single quotes (' '), double quotes (" ").
* Triple quotes are typically used for multi-line strings.

In [25]:
name = " My name is Anmol Mishra "
name

' My name is Anmol Mishra '

In [30]:
age = ' My age is 58 '
age

' My age is 58 '

In [31]:
#Adding two String
details = name + "and" + age
details

' My name is Anmol Mishra and My age is 58 '

In [32]:
# + is possible in str but * is not possible in string.
details = name * "and" * age
details

TypeError: can't multiply sequence by non-int of type 'str'

### String slicing in Python is a technique for extracting a portion (substring) of a string by specifying a range of indices. It allows access to specific characters, subsets of characters, or even the entire string.
* Syntax
* string [start : end : step]

In [33]:
# Example
name[4:8]

'name'

In [36]:
name[4:14:2]

'nm sA'