# Python Type Casting

## *Type casting in Python refers to the process of converting a variable from one data type to another.
## *Type casting in Python have two main types: 
## 1)Implicit (automatic) casting.
## 2)Explicit (manual) casting.

## 1)Implicit (automatic) casting
### *Implicit (automatic) casting is a process in programming where the compiler automatically converts a value from one data type to another without requiring any explicit instruction from the programmer.

In [1]:
# Example
a = 23
b = 4.345
c = a+b
c
# Here one variable contain int datatype and one variable contain float datatype but we get answer in float datatype automaticly

27.345

## 2)Explicit (manual) casting.
### *Explicit (manual) casting is a process in programming where the programmer manually converts a value from one data type to another.

### *Conversion of different data type into int data type.

In [1]:
int (2.4)

2

In [2]:
# only one parameter should be pass in typecasting:
int (2.3 , 4.3)

TypeError: 'float' object cannot be interpreted as an integer

In [3]:
int(True)

1

In [4]:
int(False)

0

In [5]:
int(1+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [6]:
int ('10')

10

In [7]:
int ('Ten')

ValueError: invalid literal for int() with base 10: 'Ten'

In [2]:
# type casting will convert all other dataype to integer except complex & string with text ( other datatype - int )

### *Conversion of different data type into float data type.

In [8]:
float(10)

10.0

In [9]:
float(10,20)

TypeError: float expected at most 1 argument, got 2

In [10]:
float(True)

1.0

In [11]:
float(False)

0.0

In [12]:
float(3+4j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [13]:
float('10')

10.0

In [14]:
float('Ten')

ValueError: could not convert string to float: 'Ten'

In [3]:
# type casting will convert all other dataype to float except complex & string with text (other datatype - float)

### *Conversion of different data type into complex data type.

In [15]:
complex(10)

(10+0j)

In [16]:
complex(10,20)

(10+20j)

In [17]:
complex(10,20,30)

TypeError: complex() takes at most 2 arguments (3 given)

In [18]:
complex(2.3)

(2.3+0j)

In [19]:
complex(2.3,3.4)

(2.3+3.4j)

In [20]:
complex(10,'10')

TypeError: complex() second arg can't be a string

In [21]:
complex('10',10)

TypeError: complex() can't take second arg if first is a string

In [22]:
complex('10')

(10+0j)

In [23]:
complex('10','2')

TypeError: complex() can't take second arg if first is a string

In [24]:
complex(True)

(1+0j)

In [25]:
complex(True,False)

(1+0j)

In [26]:
complex(False,False)

0j

In [4]:
# type casting will convert all other dataype to complex possible.

### *Conversion of different data type into bool data type.

In [27]:
bool(1)

True

In [28]:
bool(13)

True

In [29]:
bool()

False

In [30]:
bool(0)

False

In [31]:
bool( )

False

In [32]:
bool(1.2)

True

In [33]:
bool('10')

True

In [34]:
bool('Ten')

True

In [35]:
bool(1+2j)

True

In [36]:
bool(0+0j)

False

In [ ]:
# In bool datatype all non zero - True | zero - false

### *Conversion of different data type into str data type.

In [38]:
print(str(1))
print(str(1.2))
print(str(True))
print(str(1+2j))

1
1.2
True
(1+2j)

In [ ]:
# conversion of all other datatype to string is possible.