# Use Of Type Function In Python

###  * The type() function in Python is a built-in function.
###  * It is use to find which type of data type is hold by a variable

In [1]:
# Example
a = 5 
type (a)

int

In [2]:
b = 'Anmol'
type (b)

str

In [3]:
c = True
type (c)

bool

In [4]:
d = 5.34
type (d)

float

In [5]:
e = 8 + 9j
type(e)

complex

# Use Of Print Function In Python

### * The type() function in Python is a built-in function.
### * Print function is used when we required multiple outputs or results.
### * If we not use print function and try to get results directly we will suffer from data losses.

In [8]:
# Example of data losses
a = 34
b = 36
c = a+b
a
b 
c

70

In [9]:
# Same example with with print function 
a = 34
b = 36
c = a+b
print(a)
print(b) 
print(c)

34
36
70

### We can use print with statemests

In [11]:
a = 34
b = 36
c = a+b
print('Sum of ',a,' and ',b,' = ',c)

Sum of  34  and  36  =  70

# Print function with formate

In [17]:
name = "Anmol"
age =  21
print("{} is {} years old".format(name, age))

Anmol is 21 years old

# Use of f-string in print

In [18]:
name = "Anmol"
age =  21
print(f"{name} is {age} years old")

Anmol is 21 years old

# Use of end parameter in print function:
### In Python, the print() function has an optional parameter called end that specifies what should be printed at the end of the output. By default, the end parameter is set to a newline character ('\n'), which means that each call to print() will output its content followed by a new line.

In [19]:
print("Hello", end=' ')
print("World")

Hello World

# Use of sep Parameter in print function:
### The sep parameter allows you to specify the separator between multiple objects.

In [22]:
# Example
print("Ram", "Sayam", "Anmol", sep=' $$$$$###@ ')

Ram $$$$$###@ Sayam $$$$$###@ Anmol